

.py.class{
    margin-top: 40px;
    padding-bottom: 40px;
}

.py.method{
    margin-top:35px;
}

table.docutils tr > td:first-child{
    /*background-color: red;*/
    max-width:400px;
    word-wrap: break-word;
}

table.docutils tr > td{
    padding: 0.45em 0.3em 0.45em 0.9em;
}

html.writer-html5 .rst-content dl.py.method[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) code.descname {
    font-size: 115%!important;
    padding: 0 6px 0 4px;
}
html.writer-html5 .rst-content dl.py.method .prop{
    color: #888;
    font-style: italic;
    /*padding-left: 16px;*/
    margin-bottom: 2px;
}

/*html.writer-html5 .rst-content dl.py.method[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .property {*/
/*    display:none;*/
/*}*/

html.writer-html5 .rst-content dl.field-list p {
    margin-bottom: 0px;
    /*margin-left: 20px;*/
}
/*html.writer-html5 .rst-content dl.field-list p:first-letter {*/
/*    margin-left: -20px;*/
/*}*/

html.writer-html5 .rst-content dl.py.class[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) code.descname {
    font-size: 115%!important;
    padding: 0 4px 0 0px;
}

.sig-prename.descclassname{
    display:none;
}

html.writer-html5 .rst-content dl.field-list>dt {
    font-weight:500;
    font-style: italic;
}

html.writer-html5 .rst-content dl.py.method>dd>p {
    margin-bottom: 12px;
}
html.writer-html5 .rst-content dl.py.method>dd>p:empty {
    margin-bottom: 0;
}

html.writer-html5 .wy-menu.wy-menu-vertical .toctree-l3 a.reference.internal {
    font-size: 100%;
}

html.writer-html5 .wy-menu.wy-menu-vertical .toctree-l3 a.reference.internal.current {
    font-size: 100%;
}

html.writer-html5 .rst-content a.reference code {
    font-size: 90%;
}

html.writer-html5 .rst-content .default-value:before {
    /*content: '\A';*/
    /*white-space: pre;*/
}
/*html.writer-html5 .rst-content .default-value-section {*/
    /*margin-left: 20px;*/
/*}*/

html.writer-html5 .rst-content .default-value-section .default-value-label {
    font-style: italic;
}
html.writer-html5 .rst-content .default-value-section code.literal {
    color: #777;
}
/*html.writer-html5 .rst-content ul.simple li .default-value-section {*/
/*    margin-bottom:6px;*/
/*}*/

html.writer-html5 .rst-content dl.py.class dl.field-list.simple dd ul.simple li:not(:last-child) {
    margin-bottom:10px;
}

html.writer-html5 .rst-content dl.py.method>dd>p.decorated{
    margin-bottom: 6px
}
html.writer-html5 .rst-content .decorated code.literal{
    color:#2980b9;
}
html.writer-html5 .rst-content .decorated code span.pre:before{
    content:"@"
}


/*html.writer-html5 .rst-content dl.py.class p.full-class-path code{*/
html.writer-html5 .rst-content dl.py p.full-class-path{
    /*background-color: #2980b9;*/
    font-size: 15px;
    color: #888;
    margin-bottom: 18px;
}

html.writer-html5 .rst-content dl.py p + dl.field-list.simple{
    margin-top: 18px;
}

.rst-content .viewcode-back, .rst-content .viewcode-link {
    padding-left: 14px;
}

.toctree-wrapper.compound, .contents.local.topic {
    padding: 18px 24px;
    margin: 20px 0;
    background: #f1f2f3;
    border: 1px solid #eaedf0;
}

.toctree-wrapper.compound:empty, .contents.local.topic:empty{
    display: none;
}

.toctree-wrapper.compound ul, .contents.local.topic ul{
    margin-bottom: 0;
}

.toctree-wrapper.compound ul li:not(:last-child), .contents.local.topic ul li:not(:last-child){
    margin-bottom: 4px;
}
.toctree-wrapper.compound ul li, .contents.local.topic ul li{
    list-style: none;
    margin-left: 0;
}

.toctree-wrapper.compound ul li>ul {
    margin: 6px 0 18px 24px;
}
.toctree-wrapper.compound ul li:last-child>ul {
    margin-bottom: 0;
}

.toctree-wrapper.compound ul li>ul li {
    list-style: none;
    margin-left: 0;
}

.rst-content .section:not(:last-child) {
    margin-bottom: 60px;
}

.section#databay-api-reference .toctree-wrapper.compound:first-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}
.section#databay-api-reference .toctree-wrapper.compound:last-of-type{
    margin-top: 0;
    border-top: none;
}

.rst-content .highlight-python + .highlight-python {
    margin-top: -10px;
}


.rst-content .mb-s {
    margin-bottom:4px;
}

.rst-content .small-code-block .highlight pre {
    padding-top: 4px;
    padding-bottom: 4px;
}

.rst-content .text-block p + p{
    margin-top: -24px;
}

/*.rst-content .topic .topic-title {*/
/*    font-size: 150%;*/
/*    margin-block-end: 0.83em;*/
/*    margin-top: 60px;*/
/*}*/