
body {
    font-family: Roboto, "Noto Sans", "Noto Sans JP", "Noto Sans KR", "Noto Naskh Arabic", "Noto Sans Thai", "Noto Sans Hebrew", "Noto Sans Bengali", sans-serif;
}

.py.class{
    /*margin-top: 40px;*/
    /*padding-bottom: 40px;*/
}

.py.method{
    margin-top:35px;
}

table.docutils tr > td:first-child{
    /*background-color: red;*/
    max-width:400px;
    word-wrap: break-word;
}

table.docutils tr > td{
    padding: 0.45em 0.3em 0.45em 0.9em;
}

html.writer-html5 .rst-content dl.py.method[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) code.descname {
    padding: 0 6px 0 0;
}

html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .property {
    padding-right: 12px;
}

html.writer-html5 .rst-content dl.py.method .prop{
    color: #888;
    font-style: italic;
    /*padding-left: 16px;*/
    margin-bottom: 2px;
}

/*html.writer-html5 .rst-content dl.py.method[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) .property {*/
/*    display:none;*/
/*}*/

html.writer-html5 .rst-content dl.field-list p {
    margin-bottom: 0;
    /*margin-left: 20px;*/
}
/*html.writer-html5 .rst-content dl.field-list p:first-letter {*/
/*    margin-left: -20px;*/
/*}*/

html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) code.descname {
    font-size: 115%!important;
    padding: 0 4px 0 0;
}

.sig-prename.descclassname{
    display:none;
}

html.writer-html5 .rst-content dl.field-list>dt {
    font-weight:400;
    font-style: italic;
}

html.writer-html5 .rst-content dl.py.method>dd>p {
    margin-bottom: 12px;
}
html.writer-html5 .rst-content dl.py.method>dd>p:empty {
    margin-bottom: 0;
}

html.writer-html5 .wy-menu.wy-menu-vertical .toctree-l3 a.reference.internal {
    font-size: 100%;
}

html.writer-html5 .wy-menu.wy-menu-vertical .toctree-l3 a.reference.internal.current {
    font-size: 100%;
}

html.writer-html5 .rst-content a.reference code {
    font-size: 90%;
    line-height: 1;
}

html.writer-html5 .rst-content .default-value:before {
    /*content: '\A';*/
    /*white-space: pre;*/
}
/*html.writer-html5 .rst-content .default-value-section {*/
    /*margin-left: 20px;*/
/*}*/

html.writer-html5 .rst-content .default-value-section {
    display: inline-block;
}

html.writer-html5 .rst-content .default-value-section .default-value-label {
    font-style: italic;
}

/*html.writer-html5 .rst-content .default-value-section + code.literal {*/
/*    color: #777;*/
/*}*/
/*html.writer-html5 .rst-content ul.simple li .default-value-section {*/
/*    margin-bottom:6px;*/
/*}*/

html.writer-html5 .rst-content dl.py.class dl.field-list.simple dd ul.simple li:not(:last-child) {
    margin-bottom:10px;
}

html.writer-html5 .rst-content dl.py.method>dd>p.decorated{
    margin-bottom: 6px
}
/*html.writer-html5 .rst-content .decorated code.literal{*/
/*    color:#2980b9;*/
/*}*/
html.writer-html5 .rst-content .decorated code span.pre:before{
    content:"@"
}


/*html.writer-html5 .rst-content dl.py.class p.full-class-path code{*/
html.writer-html5 .rst-content dl.py p.full-class-path{
    /*background-color: #2980b9;*/
    font-size: 15px;
    color: #888;
    margin-bottom: 18px;
    word-break: break-word;
}

html.writer-html5 .rst-content dl.py p + dl.field-list.simple{
    margin-top: 18px;
}

.rst-content .viewcode-back, .rst-content .viewcode-link {
    padding-left: 14px;
}

.toctree-wrapper.compound, .contents.local.topic {
    padding: 18px 24px;
    margin: 20px 0;
    background: #f1f2f3;
    border: 1px solid #eaedf0;
}

.toctree-wrapper.compound:empty, .contents.local.topic:empty{
    display: none;
}

.toctree-wrapper.compound ul, .contents.local.topic ul{
    margin-bottom: 0;
}

.toctree-wrapper.compound ul li:not(:last-child), .contents.local.topic ul li:not(:last-child){
    margin-bottom: 4px;
}
.toctree-wrapper.compound ul li, .contents.local.topic ul li{
    list-style: none;
    margin-left: 0;
}

.toctree-wrapper.compound ul li>ul {
    margin: 6px 0 18px 24px;
}
.toctree-wrapper.compound ul li:last-child>ul {
    margin-bottom: 0;
}

.toctree-wrapper.compound ul li>ul li {
    list-style: none;
    margin-left: 0;
}

.rst-content .section:not(:last-child) {
    margin-bottom: 60px;
}

.section#databay-api-reference .toctree-wrapper.compound:first-of-type{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}
.section#databay-api-reference .toctree-wrapper.compound:last-of-type{
    margin-top: 0;
    border-top: none;
}

.rst-content .highlight-python + .highlight-python {
    margin-top: -10px;
}


.rst-content .mb-s {
    margin-bottom:4px;
}
.rst-content .mb-m {
    margin-bottom:8px;
}
.rst-content .mb-l {
    margin-bottom:12px;
}

.rst-content .mt-xx {
    margin-top:20px;
}
.rst-content .mt-xxx {
    margin-top:24px;
}
.rst-content .mt-xxxx {
    margin-top:28px;
}

.rst-content .highlight-small .highlight pre {
    padding-top: 4px;
    padding-bottom: 4px;
}

.rst-content .text-block p + p{
    margin-top: -24px;
}

/*.rst-content .topic .topic-title {*/
/*    font-size: 150%;*/
/*    margin-block-end: 0.83em;*/
/*    margin-top: 60px;*/
/*}*/

.copybtn {
    line-height: 1em;
}


.rst-content .tutorial-block p,
.rst-content .tutorial-block ol {
    margin-bottom: 10px;
}

.rst-content .tutorial-block .highlight-python {
    margin-bottom: 18px;
}

.tutorial-block ol.arabic ::marker {
    font-weight: 700;
    display:none;
    visibility: hidden;
}

.tutorial-block {
    counter-reset: li
}

.rst-content .tutorial-block ol.arabic,
.rst-content .tutorial-block ol.arabic li{
    list-style: none;
}

.tutorial-block ol.arabic li::before {
    content: "Step " counter(li) ".";
    font-weight: 700;
    display: inline-block;
    /*width: 1em;*/
    margin-left: -24px;
    margin-right: 4px;
}

li {counter-increment: li}

.tutorial-block ol.arabic p:first-of-type{
    display: inline-block;
}

.tutorial-block {
    margin-bottom:16px;
}

.rst-content h2{
    font-size: 140%;
}

.rst-content code.literal, .rst-content tt.literal {
    /*color: #2980b9;*/
    color: hsl(198, 18%, 20%);
    font-family: Roboto Mono,monospace;
    font-weight: 500 !important;
    background: hsl(200, 10%, 94%);
}

code,
.rst-content code,
.rst-content tt {
    /*background: #f1f2f3;*/
    /*background: hsl(210, 8%, 94%);*/

    /*border: 1px solid #eaedf0;*/
    border:none;
    border-radius: 3px;
    padding: 1px 3px;
    font-size: 90%;
}
.rst-content code.xref,
.rst-content tt.xref{
    /*color: #2980b9;*/
    /*color: #1967d2;*/
    background: hsl(200, 10%, 95%);
    color: hsl(204, 95%, 44%);
}

/*.rst-content div[class^=highlight] pre {*/
/*    font-family: Roboto Mono,monospace;*/
/*}*/

.rst-content .toctree-wrapper>p.caption, h1, h2, h3, h4, h5, h6, legend {
    font-family: inherit;
    word-break: break-word;
}

a.reference.internal:not(:first-child) code {
    margin: 0 2px;
}

.admonition a.reference code {
    background: white;
}

html.writer-html5 .rst-content table.docutils {
    border:none;

}
html.writer-html5 .rst-content table.docutils td>p{
    font-size: 1rem;
    line-height: 24px;
}

.rst-content table.docutils td {
    white-space: normal;
    word-break: break-word;
    border-left: none;
}

.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td {
    background: transparent;
}
.rst-content table.docutils tr td:first-child code.xref {
    background: transparent;
}

.wy-table-responsive {
    margin-bottom: 36px;
}

html.writer-html5 .rst-content .section dl.class:not(:first-of-type),
html.writer-html5 .rst-content .section dl.function:not(:first-of-type),
html.writer-html5 .rst-content .section dl.exception:not(:first-of-type)
{
    margin-top: 56px;
}

.rst-content footer {
    margin-top: 56px;
}

/* fis for MS Edge breaking on the copybutton*/
@supports (-ms-ime-align:auto) {

    .rst-content div[class^=highlight] div[class^=highlight], .rst-content pre.literal-block div[class^=highlight] {
        overflow: hidden;
    }
}

/* fixes for phone-size screens*/
@media only screen and (max-width: 480px){
    .rst-content dl dd {
        margin: 0 0 12px 0;
    }

    html.writer-html5 .rst-content dl.field-list, html.writer-html5 .rst-content dl.footnote {
        display: block;
    }

    .rst-content .field-list.simple dt.field-odd,
    .rst-content .field-list.simple dt.field-even {
        padding-left: 0;
        margin-bottom: 12px;
        margin-top: 24px;
    }

    .rst-content .field-list.simple dd.field-odd,
    .rst-content .field-list.simple dd.field-even {
        margin-left: 12px;
    }

    html.writer-html5 .rst-content dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple) dt {
        width: 100%;
        line-height: 24px;
    }

    html.writer-html5 .rst-content table.docutils tr {
        margin-bottom: 12px;
    }
    html.writer-html5 .rst-content table.docutils td {
        padding: 0;
        display: table-row;
    }
    html.writer-html5 .rst-content table.docutils td:first-child {
        border-bottom: none;
    }
    html.writer-html5 .rst-content table.docutils td:nth-child(2) p {
        padding-bottom: 12px;
    }
    html.writer-html5 .rst-content table.docutils td:first-child p {
        padding-top: 12px;
        padding-bottom:12px;
    }
    .rst-content table.docutils tr td:first-child code.xref {
        padding: 0;
    }

    .rst-content h1 {
        font-size: 145%;
    }
    .rst-content h2 {
        font-size: 125%;
    }

    .rst-content dl dt .headerlink:after{
        visibility: visible;
    }
}
